%header.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %a.navbar-brand{ href: root_path } タイムライン
    - if user_signed_in?
      %ul.navbar-nav
        %li.nav-item
          = button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-link nav-link", form: { class: "d-inline" }
    - else
      %ul.navbar-nav
        %li.nav-item
          = link_to "ログイン", new_user_session_path, class: "nav-link"

- flash.each do |key, message|
  - alert_class = key == "alert" ? "danger" : "info"
  .container.mt-3
    .alert{ class: "alert alert-#{alert_class}", role: "alert" }
      = message
